*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header, .loginCliente{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    background: #009DAC;
}
header img{
    width: 100%;
    max-width: 50px;
    padding-right: 15px;
}
.mainLivros, .mainClientes{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
.areaLivros, .areaClientes{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.areaLivros button, .areaClientes button{
    cursor: pointer;
    margin: 10px;
    padding: 20px 80px;
    border-radius: 10px;
    color: #009DAC;
    border: 1px solid #009DAC;
    background: white;
}
.areaLivros button:hover, .areaClientes button:hover{
    color: white;
    background: #009DAC;
}