@media (min-width: 320px) {
    #div1{ background-color: black;}
}
@media (min-width: 480px) {
    #div1{background-color: lightblue;}
}
@media (min-width: 600px) {
    #div1{background-color: lightgreen;}
}
@media (min-width: 768px) {
    #div1{background-color: lightyellow;}
}
@media (min-width: 800px) {
    #div1{background-color: brown;}
}
@media (min-width: 1024px) {
    #div1{background-color: darkblue;}
}
@media (min-width: 1280px) {
    #div1{background-color: darkgreen;}
}
@media (min-width: 1440px) {
    #div1 {background-color: darkred;}
}


#div2{
    display: none;
}
@media (orientation: landscape) {
    #div2{display: block;}
}

