* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Oswald', sans-serif;
    background-color: white;
}
.noticias,
.vencedoresAnterior, .agenda,
.incricoes, .vencedor, .areaCard,
.card, .cardNivel, .titulo,
.mainLogin, .section-login, .formulario, 
.section-inscricao, .mainRegistro, .section-registro, .btns{
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    justify-content: center;
}
#mainHome h1{
    font-size: 2.1em;
    color: #29a329;
}
.cabecalho{
    background: #29a329;
    /* border-bottom: solid 5px #4faddb; */
    height: 80px;
    box-sizing: content-box;
}
.cabecalho a{
    text-decoration: none;
    color: #eee;
    font-size: 1.3em;
}
.logo{
    display: inline-block;
    height: 80px;
    padding: 15px;
}
.logo img{
    height: 100%;
}
.menu-toggle{
    float: right;
    color: #eee;
    background-color: #555;
    border: solid 1px #777;
    border-radius: 5px;
    height: 40px;
    padding: 10px 20px;
    margin: 20px 15px;
}
.menu{
    display: inline-block;
    vertical-align: top;
    height: 80px;
    padding: 25px;
}
.menu ul{
    margin: 0;
    padding: 0;
}
.menu li{
    display: inline-block;
}
.menu a{
    padding: 15px;
}
.menu a:hover, .menu a.selected{
    background-color: #4faddb;
    color: #000;
}
.autenticacao{
    float: right;
    height: 80px;
    padding: 25px;
}
.botao{
    border-radius: 30px;
    padding: 10px 25px;
    margin: 10px;
}
.destaque {
    background: #006600;
    color: #fff;
}
.section-inscricao, .section-login, 
.section-registro, .noticias, 
.vencedoresAnterior, .agenda, .incricoes, 
.titulo, .formulario{
    align-items: center;
}
.vencedor, .areaCard, .card{
    flex-direction: row;
}
.vencedoresAnterior{
    background: #c1f0c1;
}
.vencedoresAnterior h1{
    color: black;
}
.vencedor{
    padding: 0 20px;  
}
.vencedor img{
    width: 100%;
    max-width: 50px;
}
.incricoes, .formulario{
    background: #29a329;
}
#mainHome .incricoes h1,
#mainHome .formulario h1{
    color: white;
}
.agenda p, .incricoes p{
    font-size: 20px;
}
.incricoes p{
    width: 50%;
}
.titulo p{
    font-size: 1.6rem;
}
.noticias p{
    font-size: 16px;
}
.card, .cardNivel{
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
}
.cardNivel{
    width: 20%;
}
.card img, .cardNivel img{
    width: 100%;
    max-width: 100px;
    height: auto;
}
.cardNivel img{
    max-width: 200px;
}
.ntc{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}
.ntc figure img{
    padding-right: 10px;
    width: 100%;
    max-width: 500px;
}
.section-inscricao{
    height: 300px;
}
.section-login, .section-registro{
    height: 500px;
}
.form-inscricao, .form-login, .form-registro{
    width: 430px;
    position: absolute;
}
.form-inscricao input, .form-group input{
    width: 100%;
    height: 30px;
    margin: 5px 0;
}
.form-login label{
    font-size: 36px;
}
.btns{
    padding: 5px 0;
}
.btns button, .section-inscricao button,
.section-registro button{
    cursor: pointer;
    width: 100%;
    color: white;
    border: none;
    height: 30px;
}
.btns #btnEntrar, .btns #btnFacebook, 
.btns #btnGoogle, .btns #EsqueciSenha,
.section-inscricao label{
    width: 100%;
    color: white;
}
#btnCadastrar, #btnRegistrar{
    background: #006600;
}
.btns #btnEntrar{
    background: #29a329;
}
.btns #btnFacebook{
    background: #0d6efd;
}
.btns #btnGoogle{
    background: #dc3545;
}
.btns #EsqueciSenha{
    border: 1px solid black;
    color: black;
    background: white;
}
.btns p, .btns #EsqueciSenha{
    color: black;
    text-align: center;
    margin: 3% 0;
}

@media(min-width: 679px) {
    .menu-toggle {
        display: none;
    }
}
@media(max-width: 680px) {
    .menu {
        display: none;
    }
}
@media(max-width: 910px) {
    .autenticacao {
        display: none;
    }
}

